.item {
  padding: 0 10px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;

  .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: #fff;
  }

  .last {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    color: #fff;
  }

  a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .new {
    display: none;
    font-size: 60px;
    color: white;
  }

  &.active {
    background: #4b4b4b;
  }

  &:hover {
    background: #4b4b4b;
  }
}